<ion-content [fullscreen]="true">
  <div class="container">
    <h1 class="title">Your To Do</h1>

    <div class="input-container">
      <ion-input
        placeholder="Add new task"
        [(ngModel)]="newTask"
        class="custom-input">
      </ion-input>
      <ion-button (click)="addTask()" class="add-button" fill="solid">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </div>

    <div class="task-list">
      <div class="task-item" *ngFor="let task of tasks">
        <ion-checkbox
          [checked]="task.completed"
          (ionChange)="toggleTask(task)"
          mode="md">
        </ion-checkbox>
        <span [class.completed]="task.completed" class="task-title">
          {{ task.title }}
        </span>
        <ion-chip
          *ngIf="task.category"
          [style.background]="task.category.color"
          style="color: white;"
        >
          <ion-label>
            {{ task.category.name }}
          </ion-label>
        </ion-chip>
        <ion-button (click)="deleteTask(task)" fill="clear" class="delete-button">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </div>
    </div>

    <p class="remaining-text">
      <i><b>Your remaining todos : {{ remainingTasksCount }}</b></i>
    </p>

    <p class="quote">
      "Doing what you love is the cornerstone of having abundance in your life." - Wayne Dyer
    </p>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openAddTaskModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
